/***********Basic Styles DOM level ********************/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body {
    margin: 0;
    padding: 15px;
    color: #494b4d;
    font-size: 14px;
    line-height: 20px;
  }
  
  h1, h2, h3 {
    margin: 0 0 10px 0;
    color: #1d97bf;
  }
  
  h1 {
    font-size: 25px;
    line-height: 30px;
  }
  
  h2 {
    font-size: 20px;
    line-height: 25px;
  }
  
  h3 {
    font-size: 16px;
    line-height: 20px;
  }
  
  table {
    margin-bottom: 30px;
  }
  
  a {
    color: #ff6680;
  }
  
  code {
    background: #fffbcc;
    font-size: 12px;
  }
  